html {
  font-size: 14px;
  font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
    font-weight: 100;
    color: #fff;
    font-size: 24px;
    background-color: #0072c6;
    padding: 5px 20px;
    margin-bottom: 0px;
}

p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: 'Segoe UI';
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px !important;
}

span {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

label {
    padding-left: 20px;
    padding-right: 20px;
    color: darkorchid;
}

.input {
    height: 76px;
    width: 100%;
    background-color: #f2f2f2 !important;
    font-size: 14px;
    font-style: italic !important;
    padding-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 0px;
}

button {
    color: #fff;
    background: #0072c6 !important;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 16px;
    border-radius: 0 !important;
    border: none !important;
    margin-bottom: 50px;
}

.form-group {
    border-bottom-style: solid;
    border-bottom-color: #6dc2e9;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-color: #6dc2e9;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: #6dc2e9;
    border-right-width: 1px;
    background-color: #fff;
    padding: 10px 20px 15px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-bottom: 20px;
    padding-top: 0px !important;
}

#personal-note {
    background-color: #505050 !important;
    padding: 5px 20px !important;
    font-family: 'Segoe UI';
    color: #fff !important;
    margin-bottom: 0px !important;
}

#personal-message-p {
    border: 1px solid #d2d2d2;
    padding: 15px 20px 20px 25px !important;
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 18px;
    margin-bottom: 35px;
    white-space: pre-line;
    margin-top: 0px;
    font-weight: normal;
}

#title {
    font-size: 46px;
    font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP",sans-serif;
    font-weight: 100;
    line-height: 1.8;
    color: #333;
    background-color: #fff;
    padding-left: 0px;
}

.submit-button {
    border: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
