@page
@model ReduceGenderBiasInFeedbackTool.Pages.IndexModel


@{
    ViewData["Title"] = "Index";
}
<div>
    <h1 id="title">Provide your perspective</h1>
    <div>
        <h1 id="personal-note">A personal note to you from Jessie Houghton</h1>
        <p id="personal-message-p">"Hi Linda, I'd appreciate if you take some time to provide feedback about my work/impact and help my growth within Microsoft. Thank you!"</p>
    </div>
</div>
<div>
    <div class="form-group">
        <h1>Keep doing...</h1>
        <p class="prompt">Here's something I think you do really well and hope you keep doing:</p>
        <div class="tabbed"><textarea class="input" id="Message1" cols="45" placeholder="Enter your comments here"></textarea></div>
        <div class="suggestion-box" id="Sug1Box">
            <span id="Sug1BoxClose">&times;</span>
            <b>You typed:</b> <p class="tabbed" id="Message1Display"></p>
            <b>Suggestion:</b> <div class="tabbed" id="markerValue1"></div>
        </div>

        <p class="prompt">Here's a suggestion for how you can leverage this strength further:</p>
        <div class="tabbed"><textarea class="input" id="Message2" cols="45" placeholder="Enter your comments here"></textarea></div>
        <div class="suggestion-box" id="Sug2Box">
            <span id="Sug2BoxClose">&times;</span>
            <b>You typed:</b> <p class="tabbed" id="Message2Display"></p>
            <b>Suggestion:</b> <div class="tabbed" id="markerValue2"></div>
        </div>
    </div>

    <div class="form-group">
        <h1>Re-think...</h1>
        <p class="prompt">Here's something I think you do really well and hope you keep doing:</p>
        <div class="tabbed"><textarea class="input" id="Message3" cols="45" placeholder="Enter your comments here"></textarea></div>
        <div class="suggestion-box" id="Sug3Box">
            <span id="Sug3BoxClose">&times;</span>
            <b>You typed:</b> <p class="tabbed" id="Message3Display"></p>
            <b>Suggestion:</b> <div class="tabbed" id="markerValue3"></div>
        </div>

        <p class="prompt">Here's a suggestion for how you can leverage this strength further:</p>
        <div class="tabbed"><textarea class="input" id="Message4" cols="45" placeholder="Enter your comments here"></textarea></div>
        <div class="suggestion-box" id="Sug4Box">
            <span id="Sug4BoxClose">&times;</span>
            <b>You typed:</b> <p class="tabbed" id="Message4Display"></p>
            <b>Suggestion:</b> <div class="tabbed" id="markerValue4"></div>
        </div>
    </div>

    <div class="form-group">
        <h1>Additional thoughts...</h1>
        <p class="prompt">The thing I most value about working with you is:</p>
        <div class="tabbed"><textarea class="input" id="Message5" cols="45" placeholder="Enter your comments here"></textarea></div>
        <div class="suggestion-box" id="Sug5Box">
            <span id="Sug5BoxClose">&times;</span>
            <b>You typed:</b> <p class="tabbed" id="Message5Display"></p>
            <b>Suggestion:</b> <div class="tabbed" id="markerValue5"></div>
        </div>

        <p class="prompt">Here are some other thoughts I have that you want to consider:</p>
        <div class="tabbed"><textarea class="input" id="Message6" cols="45" placeholder="Enter your comments here"></textarea></div>
        <div class="suggestion-box" id="Sug6Box">
            <span id="Sug6BoxClose">&times;</span>
            <b>You typed:</b> <p class="tabbed" id="Message6Display"></p>
            <b>Suggestion:</b> <div class="tabbed" id="markerValue6"></div>
        </div>
    </div>

    <button type="submit" value="Submit" class="btn btn-primary" id="submit-btn">Send</button>

    <!-- The Modal -->
    <div id="dialog" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div>
                <span class="close">&times;</span>
                <p class="prompt">Would you like to review feedback suggestions before submitting?</p>
            </div>
        
            <p class="tabbed">It appears that you haven't addressed all suggestions to make your feedback more focused, actionable and inclusive. Check out <a href="aka.ms/inclusivefeedback" target="_blank">aka.ms/inclusivefeedback</a> to learn more about bias can impact feedback!</p>
            
            <span>
                <button class="btn btn-primary" id="review-btn">Yes, review my responses</button>
                <button type="submit" value="Submit" class="btn btn-primary" id="submit-btn-secondary">No, submit connect</button>
            </span>
        </div>

    </div>
</div>


