@page
@model ReduceGenderBiasInFeedbackTool.Pages.IndexModel


@{
    ViewData["Title"] = "Index";
}
<div>
    <h1 id="title">Provide your perspective</h1>
    <div>
        <h1 id="personal-note">A personal note to you from Jessie Houghton</h1>
        <p id="personal-message-p">"Hi Linda, I'd appreciate if you take some time to provide feedback about my work/impact and help my growth within Microsoft. Thank you!"</p>
    </div>
</div>
<div>
@*    <h1>Bias Score:</h1>
    <label id="markerValue">Neutral</label>*@
    <div class="form-group">
        <h1>Keep doing...</h1>
        <p>Here's something I think you do really well and hope you keep doing:</p>
        <p><textarea class="input" id="Message1" cols="45" placeholder="Enter your comments here"></textarea></p>
        <span>
            <button id="bias-check1">Bias Check</button>
            Feedback: <label id="markerValue1"></label>
        </span>

        <p>Here's a suggestion for how you can leverage this strength further:</p>
        <p><textarea class="input" id="Message2" cols="45" placeholder="Enter your comments here"></textarea></p>
        <span>
            <button id="bias-check2">Bias Check</button>
            Feedback: <label id="markerValue2"></label>
        </span>
    </div>

    <div class="form-group">
        <h1>Re-think...</h1>
        <p>Here's something I think you do really well and hope you keep doing:</p>
        <p><textarea class="input" id="Message3" cols="45" placeholder="Enter your comments here"></textarea></p>
        <span>
            <button id="bias-check3">Bias Check</button>
            Feedback: <label id="markerValue3"></label>
        </span>

        <p>Here's a suggestion for how you can leverage this strength further:</p>
        <p><textarea class="input" id="Message4" cols="45" placeholder="Enter your comments here"></textarea></p>
        <span>
            <button id="bias-check4">Bias Check</button>
            Feedback: <label id="markerValue4"></label>
        </span>
    </div>

    <div class="form-group">
        <h1>Additional thoughts...</h1>
        <p>The thing I most value about working with you is:</p>
        <p><textarea class="input" id="Message5" cols="45" placeholder="Enter your comments here"></textarea></p>
        <span>
            <button id="bias-check5">Bias Check</button>
            Feedback: <label id="markerValue5"></label>
        </span>

        <p>Here are some other thoughts I have that you want to consider:</p>
        <p><textarea class="input" id="Message6" cols="45" placeholder="Enter your comments here"></textarea></p>
        <span>
            <button id="bias-check6">Bias Check</button>
            Feedback: <label id="markerValue6"></label>
        </span>
    </div>

    <button type="submit" value="Submit" class="btn btn-primary" id="submit-btn">Send</button>

    <!-- The Modal -->
    <div id="dialog" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div>
                <span class="close">&times;</span>
                <h1>Are you sure you want to submit?</h1>
            </div>
        
            <p>We have detected some biased language in your feedback. Please make sure to double check.</p>
            <p>Did you know that women are impacted by bias in feedback? Learn more <a href="https://hackbox.microsoft.com/project/976" target="_blank">here</a></p>
        </div>

    </div>
</div>


